---
import MainHead from '../../components/MainHead.astro'
import Footer from '../../components/Footer/index'
import Nav from '../../components/Nav/index'
import AppPreview from '../../components/AppPreview/index'
import apps from '../../apps/apps'
---

<html lang="en">
  <head>
    <MainHead
      title="Apps | Silvio Brändle"
      description="View Silvio Brändle's apps"
    />
    <style lang="scss">
      .grid {
        display: grid;
        grid-gap: 3rem;
      }
      .gridcols {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      }
    </style>
  </head>
  <body>
    <Nav />
    <main class="wrapper">
      <h1 class="title mt4 mb4">Apps</h1>
      <div class="grid gridcols">
        {apps.map((app) => <AppPreview app={app} />)}
      </div>
    </main>
    <Footer />
  </body>
</html>
