---
import '../styles/global.scss'
import GoogleAnalytics from '@components/GoogleAnalytics.astro'
const {
	title = 'Silvio Brändle: Personal Site',
	description = 'The personal site of Silvio Brändle',
} = Astro.props

const envMode: string = import.meta.env.MODE
---

<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>

<link rel="icon" href="/favicon.ico" sizes="any" />
<link rel="icon" href="/favicon.svg" type="image/svg+xml" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;900&display=swap"
	rel="stylesheet"
/>
<link href="/prism-vsc-dark-plus.css" rel="stylesheet" />

{envMode === 'production' ? <GoogleAnalytics gtag="G-KZC2PCS83T" /> : null}
