.nav {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 1.5rem;
  overflow-x: auto;
}

.logolink {
  display: block;
  color: var(--t-fg);
  text-decoration: none;
  margin-right: 1rem;
  @media (max-width: 350px) {
    display: none;
  }
}

.logo {
  height: 2em;
  pointer-events: none;
}

.link {
  color: var(--t-subdue);
  display: block;
  padding: 0.5rem 0.25rem;
  text-decoration: none;
  font-size: var(--f-d1);
  text-transform: uppercase;

  &:focus,
  &:hover {
    color: var(--t-active);
  }
}

.monogram {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;
  color: var(--c-black);
  font-weight: 900;
  letter-spacing: -0.125rem;
  border: 3px solid currentColor;
  border-radius: 50%;
}

.social {
  display: block;
  padding: 0.25rem;
  margin-left: auto;

  + .social {
    margin-left: 0;
  }
}

.socialicon {
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  fill: var(--t-subdue);
  transition: fill linear 150ms;

  &:hover {
    fill: var(--t-active);
  }
}
